<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.media-os.helmd</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON_EXECUTABLE}}</string>
        <string>-m</string>
        <string>helmd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>WorkingDirectory</key>
    <string>{{HOME}}</string>

    <key>StandardOutPath</key>
    <string>{{HOME}}/Library/Application Support/helm/logs/helmd.log</string>

    <key>StandardErrorPath</key>
    <string>{{HOME}}/Library/Application Support/helm/logs/helmd.err</string>
</dict>
</plist>
